gateway/src/main/resources/note.dtd

<!ELEMENT vos (vo)>
        <!ATTLIST vos name>
        <!ATTLIST vos model>
        <!ELEMENT vo (field)>
        <!ATTLIST vo name>
        <!ATTLIST vo lable>
        <!ATTLIST vo model>
        <!ATTLIST vo url>
        <!ELEMENT field (item))>
        <!ATTLIST field name>
        <!ATTLIST field lable>
        <!ATTLIST field type>
        <!ATTLIST field source>
        <!ATTLIST field url>
        <!ELEMENT item (#PCDATA))>
        <!ATTLIST item label>
        <!ATTLIST item value>

